.infoWrapper {
    padding: 70px 0 40px 0;
    display: flex;
    justify-content: center;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    flex-wrap: nowrap;
}

.column {
    flex: 1;
    padding: 100px 40px 50px 40px;
    border-radius: 8px;
    box-sizing: border-box;
}

.column p {
    font-size: 14px;
    color: #000;
}

.column p strong {
    font-weight: bold;
}

.column p .contact-info {
    font-size: 26px;
    font-weight: 500;
}

.column1 {
    flex: 1;
    padding: 100px 40px 10px 40px;
    border-radius: 8px;
    background-color: #03081F;
    color: #ffffff;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.column1 h3,
.column1 p {
    color: #ffffff;
}

.deliveryInfoHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.deliveryInfoHeader img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}

.column,
.column1 p {
    font-size: 13px;
    margin: 8px 0;
    line-height: 2.8;
}

.locationWrapper {
    border-radius: 15px;
    box-shadow: 5px 5px 14px 0px #00000040;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}
