.promoBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  height: 60px;
  padding-left: 20px;
}

.promoSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.starIcon {
  width: 25px;
  height: 25px;
}

.promoText {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.promoText span {
  color: #fc8a06;
  text-decoration: underline;
  font-weight: 700;
}

.locationSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.locationIcon {
  width: 20px;
  height: 20px;
}

.addressText {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  width: 100%; 
}

.addressText p {
  margin-right: 10px; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  max-width: 100%; 
  font-size: 14px;
}

.locationContainer {
  display: flex;
  align-items: center;
  gap: 8px; 
}
.navLocation {
  font-size: 14px;
  font-weight: 500;
  color: #fc8a06;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 50px;
}

.cartSection {
  display: flex;
  width: 300px;
  height: 60px;
  background-color: #028643;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  color: #fff;
}

.cartDetails {
  display: flex;
  align-items: center;
  flex: 3;
  border-right: 1px solid #fff;
  padding: 10px;
}

.cartIcon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.cartLabel {
  font-size: 14px;
  font-weight: 500;
}

.cartArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.arrowIcon {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
}
/* .cartDetailsModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px; 
  height: auto; 
  display: flex;
  flex-direction: column;
} */
