.container {
  min-height: 100vh;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.orderContainer {
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  box-sizing: border-box;
}
.orderStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #32b6381f;
  box-shadow: 0px 4px 10px rgba(50, 182, 56, 0.12);
  border-radius: 50%;
  margin-bottom: 20px;
}

.successIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.statusText {
  margin-top: 10px;
}

.orderConfirmationTitle {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.orderConfirmationMessage {
  font-size: 14px;
  font-weight: 400;
  color: #83858a;
  padding: 8px;
}

.orderItemsList {
  width: 100%;
  padding: 12px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #00000080;
  background-color: #fff;
  margin-top: 20px;
}

.orderItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
.orderItem {
  font-size: 16px;
  color: #000;
}

.noItemsMessage {
  font-size: 16px;
  color: #83858a;
}

.backButton {
  padding: 10px 20px;
  background-color: #fc8a06;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  margin-top: 20px;
}
.footer {
    width: 100%;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
    .promoHeader {
      display: none;
    }
    .orderContainer {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; /* Aligns content to the top */
      width: 100%;
    }
    .successIcon {
      width: 150px;
      height: 150px;
    }
    .iconWrapper {
      width: 100px; /* Fixed typo from "1-0px" to "100px" */
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #32b6381f;
      box-shadow: 0px 4px 10px rgba(50, 182, 56, 0.12);
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .footer {
      display: none;
    }
    .orderConfirmationTitle {
      font-size: 16px;
    }
  
    .orderConfirmationMessage {
      font-size: 12px;
    }
  
    .orderItemsList {
      padding: 10px;
    }
  
    .backButton {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  