.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  box-sizing: border-box;
}
.Options {
  display: none;
}
.navMenuContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 80px; 
}

.navItemsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px; 
  flex: 1; 
  margin-left: 130px;
}

.orderImage {
  width: 150px; 
}

.homeButton {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  transition: background-color 0.3s ease;

}
.restaurant {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  transition: background-color 0.3s ease;
  color: #ffffff;

}

.homeActive {
  background-color: #fc8a06;
  color: #ffffff;
}
.restaurantActive {
  background-color: #fc8a06;
  color: #ffffff;
}

.homeInactive {
  background-color: transparent; 
  color: #000000;
}
.restaurantInactive {
  background-color: transparent; 
  color: #000000;
}


.specialOffers,
.trackOrder {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}
.trackOrder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user {
  background-color: #03081f;
  padding: 10px 25px 10px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 0;
  }

  .orderImage {
    width: 150px;
  }

  .navItemsWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
  }

  .homeButton,
  .specialOffers,
  .restaurant,
  .trackOrder {
    display: none;
  }

  .user {
    display: none;
  }
  .Options {
    width: 50px;
    height: 50px;
    display: block;
  }
  .imageContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    border-bottom: 2px solid #0000004d; 
  }

  .imageContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    border-bottom: 2px solid #0000004d; 
  }

  .orderImage {
    max-width: 100%; 
    height: auto; 
    margin-bottom: -2px;
    padding: 30px 15px; 
  }

  .Options {
    width: 70px;
    height: 90px;
    border-left: 2px solid #0000004d;
    padding-left: 10px;
}

}
